{% extends "home/base.html" %}
{% load static %}
{% block content %}

    <!-- stellas_paintbrush@outlook.com -->

    <link rel="stylesheet" href="{% static 'home/mainPage.css' %}">

    <div class="mainPage_content">
        <div style="height:100vh; margin-bottom: 5%">
            <div class="leftCarousel leftBgTopPage animated fadeIn" style="height:100vh; "><img class="paintingTopPage"
                                                                                                src="{% static 'home/bgLeft.jpg' %}">
            </div>
            <div class="rightCarousel animated fadeIn" style="height:100vh;">
                <div class="content_logo " style="">
                    <img class="mainpage_logo bounce" src="{% static 'home/logo.png' %}">
                </div>
                <div class="arrow bounce"></div>
            </div>
        </div>


        <section class="content_aboutMe">
            <div class="p-4 p-md-5 text-white rounded aboutContainer Row">
                <div class="leftCarousel" data-aos="fade-right" style="height: 100%;">
                    <img class="stellaPic" src="{% static 'home/stella.png' %}">
                </div>
                <div class="rightCarousel paddingRight" data-aos="fade-left" style="height: 100%">
                    <div style="height: 75%; margin: 7.5% 0 7.5% 0;">
                        <h1 class="display-4 font-italic titleAboutMe" style="font-family: Playfair Display,serif"
                            align="center">
                            Welcome
                            to
                            Stella's Paintbrush</h1>
                        <hr>
                        <p class="lead my-3 textAboutMe" align="justify">&emsp; My name is Stella Talamo. I recently
                            graduated
                            from
                            Penn
                            State with a Bachelor
                            of Science degree in Biomedical Engineering. Although I graduated in a technical field, I
                            have
                            always been drawn to art since I was little. I started painting when I was about 7 and have
                            not
                            stopped since. I have experimented with using various mediums but now prefer using acrylic
                            paint
                            on stretched canvases. <br><br>

                            &emsp; I have taken inspiration from Van Gogh, Wayne Thiebaud, and Leonid Afremov to name a
                            few.
                            When I
                            first started painting, I immediately was captivated by landscapes. I always found an
                            interest
                            in nature since the bright colors and scenery appealed to me. Recently, I have expanded my
                            subjects and have painted desserts, sports themed paintings, portraits and more. Now, what
                            inspires me is creating something that no one else has. I believe that everyone views the
                            world
                            differently and so I create paintings that reflect this, individualizing each piece. If you
                            are
                            looking for artwork that no one else has, you are in the right place.
                        </p>
                    </div>
                </div>

                <br style="clear:both;"/>
            </div>

        </section>
        <section class="content_myArt">
            <div data-aos="fade-left"><img class="image-item" src="{% static 'home/paint1.jpg' %}" alt="A painting"></div>
            <div data-aos="fade-right"><img class="image-item" src="{% static 'home/paint2.jpg' %}" alt="A painting"></div>
            <div data-aos="fade-left"><img class="image-item" src="{% static 'home/paint3.jpg' %}" alt="A painting"></div>
            <div data-aos="fade-right"><img class="image-item vertical" src="{% static 'home/paint4.jpg' %}" alt="A painting">
            </div>
            <div data-aos="fade-left"><img class="image-item" src="{% static 'home/paint5.jpg' %}" alt="A painting"></div>
            <div data-aos="fade-right"><img class="image-item" src="{% static 'home/paint6.jpg' %}" alt="A painting"></div>
            <div data-aos="fade-left"><img class="image-item" src="{% static 'home/paint7.jpg' %}" alt="A painting"></div>
        </section>
        <section class="content_contactMe" style="margin-bottom: 5%;">

            <div class="jumbotron" style="background: #e0e0e04f; padding: 2rem 2rem">
                <div class="content_contactMe_header" style="text-align: center; color:dimgray">
                    <h1 class="display-4 font-italic" style="font-family: Playfair Display,serif">Contact Me</h1>
                    <hr class="myContainer">
                </div>
                <div style="text-align: center;">
                    <h3 class=" font-italic" style="font-family: Playfair Display,serif"> If you wish to have a
                        custom painting, please fill out the form below. <br> I will contact you as soon as possible!
                    </h3>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">Phone Number</label>
                            <input type="number" class="form-control" id="phone" name="phone" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea">Give a brief description</label>
                        <textarea class="form-control" id="textArea" rows="3" maxlength="500"
                                  name="messageContent"></textarea>
                    </div>
                    <button type="submit" class="btn myButton">Submit</button>
                </form>
            </div>
        </section>


    </div>

    <div class="mainPage_footer" style="padding-bottom: 5px;">
        <div class="container" style="background:transparent">
            <footer class="row" style="text-align: center">
                <div class="col-8">
                    <ul class="row">
                        <li class="col-xs-6 col-sm-2">
                            <a href="https://www.facebook.com/StellasPaintbrush">
                                <img class="logo"
                                     src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
                            </a>
                        </li>
                        <li class="col-xs-6 col-sm-2" style="margin-top: 5px">
                            <a href="https://www.instagram.com/stellas_paintbrush/?hl=en">
                                <img class="logo"
                                     src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" onclick="topFunction()">
                    <p style="color: white; font-size: 18px; margin-top: 13px;"> Go back to top </p>
                </div>

            </footer>
        </div>
        <div style="color: white; bottom: 0; width:100%; text-align: center">
            <p style="margin-bottom: 0"> A website for Stella Talamo, by <b>Luca Molteni</b></p>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $("#aboutMe").click(function () {
                $('html, body').animate({
                    scrollTop: $(".content_aboutMe").offset().top - 45
                }, 1500);
            });
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#myArt").click(function () {
                $('html, body').animate({
                    scrollTop: $(".content_myArt").offset().top - 45
                }, 1500);
            });
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#contactMe").click(function () {
                $('html, body').animate({
                    scrollTop: $(".content_contactMe_header").offset().top - 45
                }, 1500);
            });
        })
    </script>

    <script>
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>





{% endblock content %}